@use "variables" as *;

@mixin content($padding-side) {
  @content;

  section {
    padding: 0 $padding-side;
  }

  .about__content {
    padding: 0 6vw;

    .about__musician {
      font-size: 20px;
    }

    .about__description {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      p {
        width: 49%;
        font-size: 18px;
        line-height: 1.5em;
      }
    }
  }

  .photo__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
      width: 30%;
    }
  }

  .footer {
    padding: 0 $padding-side;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    p,
    h3 {
      font-size: 1.4vw;
      line-height: 1.4em;
    }

    .footer__header {
      font-size: 3vw;
    }

    .footer__social {
      width: 30%;
      justify-content: flex-start;

      img {
        padding-right: 30px;
        height: 28px;
      }
    }

    .footer__logo,
    .footer__copyright {
      order: 0;
    }

    .footer__logo {
      display: flex;
      justify-content: flex-end;
    }

    .footer__copyright {
      width: 100%;
    }
  }
}

@mixin tablet-main {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
    @include content($tablet-spacing);

    .footer {
      .footer__header {
        font-size: 4vw;
      }

      h3 {
        font-size: 1.8vw;
      }

      div {
        width: 30%;
      }

      .footer__logo {
        font-size: 3vw;
      }
    }
  }
}

@mixin desktop-main {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
    @include content($desktop-spacing);

    .footer {
      div,
      .footer__social {
        width: 25%;
      }

      .footer__header {
        font-size: 3vw;
      }

      .footer__logo,
      .footer__contact--right {
        width: 40%;
      }

      .footer__contact {
        h3 {
          font-size: 1.4vw;
        }
      }

      .footer__logo {
        display: flex;
        justify-content: flex-end;
        font-size: 2vw;
      }
    }

    .about__quote {
      width: 78%;
    }
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
