@use "./partials/fonts" as *;
@use "./partials/colors" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

html,
body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  font-family: Avenir Next;
}

html {
  @include tablet {
    font-size: 24px;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
  font-family: Avenir Next;
}

button {
  background-color: $black;
  color: $white;
  height: 40px;
  min-width: 150px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $darkblack;
  }
}

header {
  background-color: $black;

  .navbar__logo {
    height: 35px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    padding: 15px 0;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  nav {
    ul {
      list-style-type: none;
      display: flex;

      li {
        width: 50%;
        height: 35px;

        font-size: 20px;
        font-weight: 600;
        color: $mercury;
        text-align: center;

        &.navbar--active,
        &:hover {
          color: $white;
          border-bottom: 4px solid $white;
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  @include tablet-header;
  @include desktop-header;
}

section {
  padding: 1rem;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba($black, 0.5);
  height: 66vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: $white;
  font-size: 38px;
  font-weight: 600;
}

.about {

  img {
    width: 100%;
  }

  .about__quote {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5em;
  }

  .about__description {
    h3 {
      font-size: 28px;
      width: 100%;
    }

    p {
      font-size: 26px;
      line-height: 1.25em;
    }
  }
}

.photo {
  background-color: $mercury;

  img {
    width: 100%;
    padding: 0 0 4vw;
  }
}

.divider {
  border-top: 1px solid $mercury;
  margin: 1rem 0;
}

.comments {

  &__wrapper {
    margin: auto;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 50%;
    }
  }

  &__comment-form-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__comment-avatar {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: top center;
    background-color: $mercury;
    border-radius: 50%;

    &--form {
      background-image: url("../assets/images/Mohan-muruge.jpg");
    }
  }

  &__comment-form {
    width: 90%;

    .comments__form-input {
      padding: 12px;
      border: 1px solid $mercury;
      border-radius: 4px;
      font-size: 1rem;

      &::placeholder {
        color: $black;
        font-family: Avenir Next;
        font-weight: 600;
      }

      &:focus {
        border-color: 1px solid $black;
      }

      &--error {
        border-color: #D22D2D;
      }

      &--textarea {
        height: 4.5rem;
      }

      @include tablet {
        padding: 16px;
      }
    }
  }

  &__input-field {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }

  &__form-label {
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    color: $silver;
  }

  &__form-submit {
    padding: 0.5rem 0;
    float: right;
  }

  &__comments-list {
    display: flex;
    flex-direction: column;
  }

  &__comment-item {
    display: flex;
    justify-content: space-between;
  }

  &__comment-section {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  &__comment-header {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
  }

  &__comment-header-timestamp {
    color: $silver;
  }
}

.footer {
  background-color: $black;
  padding: 16px 32px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: baseline;

  p,
  h3 {
    font-size: 25px;
    line-height: 1.4em;
  }

  .footer__header {
    order: -3;
  }

  .footer__social {
    display: flex;
    justify-content: space-between;
    width: 35vw;
    padding: 24px 0;
    order: -2;

    img {
      height: 44px;
    }
  }

  .footer__contact {
    padding: 16px 0;

    h3 {
      font-weight: bold;
      padding: 16px 0;
    }

    a {
      text-decoration: none;
      color: $white;
    }
  }

  .footer__logo {
    font-size: 50px;
    order: 1;
  }

  .footer__copyright {
    order: 2;
  }
}

@include tablet-main;
@include desktop-main;