@use "./partials/fonts" as *;
@use "./partials/colors" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

html,
body,
h1,
h2,
h3,
ul{
  margin: 0;
  padding: 0;
  font-family: Avenir Next;
}

html {
  @include tablet {
    font-size: 24px;
  }
}

section {
  padding: 0 1rem;
  @include desktop {
    padding: 0 3rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
  font-family: Avenir Next;
}

button {
  background-color: $black;
  color: $white;
  height: 40px;
  min-width: 150px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $darkblack;
  }
}

.header {
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  @include tablet {
    flex-direction: row;
    padding: 0 1rem;
  }
  @include desktop {
    padding: 0 3rem;
  }

  &__logo {
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.75rem 0 0;
    color: $white;
    text-decoration: none;
    @include tablet {
      padding: 0;
    }
  }
}

.navbar {
  width: 100%;

  &__list {
    display: flex;
    list-style: none;
    @include tablet {
      padding-left: 1.5rem;
    }
  }

  &__item {
    width: 50%;
    @include tablet {
      width: auto;
      padding: 0 1rem;
    }
  }

  &__link {
    color: $mercury;
    padding: 0.5rem 0;
    text-decoration: none;
    display: inline-flex;
    border-bottom: 4px solid $black;
    width: 100%;
    justify-content: space-around;
    @include tablet {
      width: auto;
      justify-content: normal;
      padding: 1rem 0;
    }
    &--active {
      font-weight: bold;
    }
    &--active,
    &:hover {
      color: $white;
      border-bottom: 4px solid $white;
    }
  }
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba($black, 0.5);
  min-height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: $white;
  font-size: 1.5rem;
  font-weight: 600;
  @include tablet {
    height: 55vw;
    font-size: 3rem;
  }
}

.about {
  img {
    width: 100%;
  }

  &__header {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 0 0;
    @include tablet {
      padding: 2rem 0 0;
    }
  }

  &__content {
    padding: 1rem 0 0;
    @include tablet {
      padding: 1.5rem 1rem 0;
    }
    @include desktop {
      padding: 1.5rem 3rem 0;
    }
  }

  &__quote {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5em;
    @include tablet {
      font-size: 1.25rem;
    }
    @include desktop {
      width: 78%;
    }
  }

  &__musician {
    font-size: 1rem;
    font-weight: bold;
    @include tablet {
      font-weight: 600;
    }
  }

  &__description {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__description-title {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 600;
    @include tablet {
      font-weight: bold;
    }
  }

  &__description-content {
    width: auto;
    @include tablet {
      width: 49%;
    }
  }
}

.photo {
  background-color: $mercury;

  &__header {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 0 0;
    @include tablet {
      padding: 2rem 0 0;
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0 0;
    @include tablet {
      padding: 1.5rem 0 0;
    }

    img {
      width: 100%;
      padding: 0 0 1rem;
      @include tablet {
        width: 30%;
      }
    }
  }
}

.divider {
  border-top: 1px solid $mercury;
  margin: 1rem 0;
}

.comments {
  &__header {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 0 0;
    @include tablet {
      padding: 2rem 0 0;
    }
  }

  &__wrapper {
    margin: auto;
    padding-top: 1rem;

    @include tablet {
      padding-bottom: 1.5rem;
      width: 80%;
    }

    @include desktop {
      width: 50%;
    }
  }

  &__comment-form-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__comment-avatar {
    width: 2.25rem;
    height: 2.25rem;
    background-size: cover;
    background-position: top center;
    background-color: $mercury;
    border-radius: 50%;
    @include tablet {
      height: 2rem;
      width: 2rem;
    }

    &--form {
      background-image: url("../assets/images/Mohan-muruge.jpg");
      margin-top: 2rem;
      @include tablet {
        margin-top: 1.8rem;
      }
    }
  }

  &__comment-form {
    width: 85%;
    @include tablet {
      width: 90%;
    }
  }

  &__form-input {
    padding: 0.75rem;
    border: 1px solid $mercury;
    border-radius: 4px;
    font-size: 1rem;

    &::placeholder {
      color: $black;
      font-family: Avenir Next;
      font-weight: 600;
    }

    &:focus {
      border-color: 1px solid $black;
    }

    &--error {
      border-color: #d22d2d;
    }

    &--textarea {
      height: 4.5rem;
      resize: none;
    }
  }

  &__input-field {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }

  &__form-label {
    font-weight: 600;
    margin-bottom: 4px;
    color: $silver;
  }

  &__form-submit {
    padding: 0.5rem 0;
    float: right;
  }

  &__comments-list {
    display: flex;
    flex-direction: column;
  }

  &__comment-item {
    display: flex;
    justify-content: space-between;
  }

  &__comment-section {
    display: flex;
    flex-direction: column;
    width: 85%;
    @include tablet {
      width: 90%;
    }
  }

  &__comment-header {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
  }

  &__comment-header-timestamp {
    color: $silver;
  }
}

.footer {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0 1rem;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      width: 33%;
    }
  }
  @include desktop {
    padding: 0 3rem;
  }

  p,
  h3 {
    font-size: 0.8125rem;
    line-height: 1.125em;
    @include tablet {
      font-size: 0.6rem;
      line-height: 1rem;
    }
  }

  &__header {
    order: -3;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 0 0;
    @include tablet {
      padding: 2rem 0 0;
    }
  }

  &__social {
    display: flex;
    padding: 1rem 0 1rem;
    order: -2;

    @include tablet {
      padding: 1rem 0 0;
    }

    img {
      height: 1.5rem;
      padding-right: 1.5rem;
      @include tablet {
        padding-right: 1rem;
        height: 1rem;
      }
    }
  }

  &__contact {
    padding: 1rem 0 0;

    h3 {
      font-weight: 600;
    }

    a {
      text-decoration: none;
      color: $white;
    }
  }

  &__contact--right {
    @include tablet {
      width: 40%;
    }
  }

  &__logo {
    order: 1;
    font-size: 2rem;
    @include tablet {
      order: 0;
      font-size: 1.25rem;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__copyright {
    order: 2;
    @include tablet {
      order: 0;
    }
  }
}
