@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTPro.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 900;
  font-style: normal;
}
html,
body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  font-family: Avenir Next;
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
  font-family: Avenir Next;
}

header {
  background-color: #323232;
}
header .navbar__logo {
  height: 35px;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
}
header .navbar__logo a {
  color: #FFFFFF;
  text-decoration: none;
}
header nav ul {
  list-style-type: none;
  display: flex;
}
header nav ul li {
  width: 50%;
  height: 35px;
  font-size: 20px;
  font-weight: 600;
  color: #E1E1E1;
  text-align: center;
}
header nav ul li.navbar--active, header nav ul li:hover {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}
header nav ul li a {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  header {
    display: flex;
    height: 68px;
    padding: 0 5vw;
  }
  header .navbar__logo {
    display: inline-block;
    font-size: 1.35lh;
  }
  header nav {
    display: inline-block;
  }
  header nav ul {
    padding: 0 1lh;
  }
  header nav ul li {
    height: 68px;
    line-height: 64px;
    margin: 0 0.5lh;
    font-size: 15px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1280px) {
  header {
    display: flex;
    height: 68px;
    padding: 0 10vw;
  }
  header .navbar__logo {
    display: inline-block;
    font-size: 1.35lh;
  }
  header nav {
    display: inline-block;
  }
  header nav ul {
    padding: 0 1lh;
  }
  header nav ul li {
    height: 68px;
    line-height: 64px;
    margin: 0 0.5lh;
    font-size: 15px;
    box-sizing: border-box;
  }
}

section {
  padding: 16px 32px;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  height: 66vw;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 600;
}

.about img {
  width: 100%;
}
.about .about__quote {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5em;
}
.about .about__description h3 {
  font-size: 28px;
  width: 100%;
}
.about .about__description p {
  font-size: 26px;
  line-height: 1.25em;
}

.photo {
  background-color: #E1E1E1;
}
.photo img {
  width: 100%;
  padding: 0 0 4vw;
}

.comments__wrapper {
  margin: auto;
}
@media (min-width: 768px) {
  .comments__wrapper {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .comments__wrapper {
    width: 50%;
  }
}
.comments__comment-form-wrapper {
  display: flex;
  justify-content: space-between;
}
.comments__comment-avatar {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-position: top center;
  background-color: #E1E1E1;
  border-radius: 50%;
}
.comments__comment-avatar--form {
  background-image: url("../assets/images/Mohan-muruge.jpg");
}
.comments__comment-form {
  width: 90%;
}
.comments__comment-form .comments__form-input {
  padding: 12px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  font-size: 1rem;
}
.comments__comment-form .comments__form-input::-moz-placeholder {
  color: #323232;
  font-family: Avenir Next;
  font-weight: 600;
}
.comments__comment-form .comments__form-input::placeholder {
  color: #323232;
  font-family: Avenir Next;
  font-weight: 600;
}
.comments__comment-form .comments__form-input:focus {
  border-color: 1px solid #323232;
}
.comments__comment-form .comments__form-input--error {
  border-color: #D22D2D;
}
.comments__comment-form .comments__form-input--textarea {
  height: 4.5rem;
}
@media (min-width: 768px) {
  .comments__comment-form .comments__form-input {
    padding: 16px;
  }
}
.comments__input-field {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.comments__form-label {
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #AFAFAF;
}
.comments__form-submit {
  padding: 0.5rem 0;
  float: right;
}
.comments__form-submit button {
  background-color: #323232;
  color: #FFFFFF;
  height: 40px;
  min-width: 150px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.comments__form-submit button:hover {
  background-color: #000000;
}
.comments__comments-list {
  display: flex;
  flex-direction: column;
}
.comments__divider {
  border-top: 1px solid #E1E1E1;
  margin: 1rem 0;
}
.comments__comment-item {
  display: flex;
  justify-content: space-between;
}
.comments__comment-section {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.comments__comment-header {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}
.comments__comment-header-timestamp {
  color: #AFAFAF;
}

.footer {
  background-color: #323232;
  padding: 16px 32px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.footer p,
.footer h3 {
  font-size: 25px;
  line-height: 1.4em;
}
.footer .footer__header {
  order: -3;
}
.footer .footer__social {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  padding: 24px 0;
  order: -2;
}
.footer .footer__social img {
  height: 44px;
}
.footer .footer__contact {
  padding: 16px 0;
}
.footer .footer__contact h3 {
  font-weight: bold;
  padding: 16px 0;
}
.footer .footer__contact a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .footer__logo {
  font-size: 50px;
  order: 1;
}
.footer .footer__copyright {
  order: 2;
}

@media screen and (min-width: 768px) {
  section {
    padding: 0 5vw;
  }
  .about__content {
    padding: 0 6vw;
  }
  .about__content .about__musician {
    font-size: 20px;
  }
  .about__content .about__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about__content .about__description p {
    width: 49%;
    font-size: 18px;
    line-height: 1.5em;
  }
  .photo__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photo__gallery img {
    width: 30%;
  }
  .footer {
    padding: 0 5vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer p,
  .footer h3 {
    font-size: 1.4vw;
    line-height: 1.4em;
  }
  .footer .footer__header {
    font-size: 3vw;
  }
  .footer .footer__social {
    width: 30%;
    justify-content: flex-start;
  }
  .footer .footer__social img {
    padding-right: 30px;
    height: 28px;
  }
  .footer .footer__logo,
  .footer .footer__copyright {
    order: 0;
  }
  .footer .footer__logo {
    display: flex;
    justify-content: flex-end;
  }
  .footer .footer__copyright {
    width: 100%;
  }
  .footer .footer__header {
    font-size: 4vw;
  }
  .footer h3 {
    font-size: 1.8vw;
  }
  .footer div {
    width: 30%;
  }
  .footer .footer__logo {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1280px) {
  section {
    padding: 0 10vw;
  }
  .about__content {
    padding: 0 6vw;
  }
  .about__content .about__musician {
    font-size: 20px;
  }
  .about__content .about__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about__content .about__description p {
    width: 49%;
    font-size: 18px;
    line-height: 1.5em;
  }
  .photo__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photo__gallery img {
    width: 30%;
  }
  .footer {
    padding: 0 10vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer p,
  .footer h3 {
    font-size: 1.4vw;
    line-height: 1.4em;
  }
  .footer .footer__header {
    font-size: 3vw;
  }
  .footer .footer__social {
    width: 30%;
    justify-content: flex-start;
  }
  .footer .footer__social img {
    padding-right: 30px;
    height: 28px;
  }
  .footer .footer__logo,
  .footer .footer__copyright {
    order: 0;
  }
  .footer .footer__logo {
    display: flex;
    justify-content: flex-end;
  }
  .footer .footer__copyright {
    width: 100%;
  }
  .footer div,
  .footer .footer__social {
    width: 25%;
  }
  .footer .footer__header {
    font-size: 3vw;
  }
  .footer .footer__logo,
  .footer .footer__contact--right {
    width: 40%;
  }
  .footer .footer__contact h3 {
    font-size: 1.4vw;
  }
  .footer .footer__logo {
    display: flex;
    justify-content: flex-end;
    font-size: 2vw;
  }
  .about__quote {
    width: 78%;
  }
}/*# sourceMappingURL=bio.css.map */