@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTPro.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 900;
  font-style: normal;
}
html,
body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  font-family: Avenir Next;
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

section {
  padding: 0 1rem;
}
@media (min-width: 1280px) {
  section {
    padding: 0 3rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
  font-family: Avenir Next;
}

button {
  background-color: #323232;
  color: #ffffff;
  height: 40px;
  min-width: 150px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: #000000;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0 1rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 3rem;
  }
}
.header__logo {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.75rem 0 0;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header__logo {
    padding: 0;
  }
}

.navbar {
  width: 100%;
}
.navbar__list {
  display: flex;
  list-style: none;
}
@media (min-width: 768px) {
  .navbar__list {
    padding-left: 1.5rem;
  }
}
.navbar__item {
  width: 50%;
}
@media (min-width: 768px) {
  .navbar__item {
    width: auto;
    padding: 0 1rem;
  }
}
.navbar__link {
  color: #e1e1e1;
  padding: 0.5rem 0;
  text-decoration: none;
  display: inline-flex;
  border-bottom: 4px solid #323232;
  width: 100%;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .navbar__link {
    width: auto;
    justify-content: normal;
    padding: 1rem 0;
  }
}
.navbar__link--active {
  font-weight: bold;
}
.navbar__link--active, .navbar__link:hover {
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(50, 50, 50, 0.5);
  min-height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero {
    height: 55vw;
    font-size: 3rem;
  }
}

.about img {
  width: 100%;
}
.about__header {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 0 0;
}
@media (min-width: 768px) {
  .about__header {
    padding: 2rem 0 0;
  }
}
.about__content {
  padding: 1rem 0 0;
}
@media (min-width: 768px) {
  .about__content {
    padding: 1.5rem 1rem 0;
  }
}
@media (min-width: 1280px) {
  .about__content {
    padding: 1.5rem 3rem 0;
  }
}
.about__quote {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    width: 78%;
  }
}
.about__musician {
  font-size: 1rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .about__musician {
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .about__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.about__description-title {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__description-title {
    font-weight: bold;
  }
}
.about__description-content {
  width: auto;
}
@media (min-width: 768px) {
  .about__description-content {
    width: 49%;
  }
}

.photo {
  background-color: #e1e1e1;
}
.photo__header {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 0 0;
}
@media (min-width: 768px) {
  .photo__header {
    padding: 2rem 0 0;
  }
}
.photo__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0 0;
}
@media (min-width: 768px) {
  .photo__gallery {
    padding: 1.5rem 0 0;
  }
}
.photo__gallery img {
  width: 100%;
  padding: 0 0 1rem;
}
@media (min-width: 768px) {
  .photo__gallery img {
    width: 30%;
  }
}

.divider {
  border-top: 1px solid #e1e1e1;
  margin: 1rem 0;
}

.comments__header {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 0 0;
}
@media (min-width: 768px) {
  .comments__header {
    padding: 2rem 0 0;
  }
}
.comments__wrapper {
  margin: auto;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .comments__wrapper {
    padding-bottom: 1.5rem;
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .comments__wrapper {
    width: 50%;
  }
}
.comments__comment-form-wrapper {
  display: flex;
  justify-content: space-between;
}
.comments__comment-avatar {
  width: 2.25rem;
  height: 2.25rem;
  background-size: cover;
  background-position: top center;
  background-color: #e1e1e1;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .comments__comment-avatar {
    height: 2rem;
    width: 2rem;
  }
}
.comments__comment-avatar--form {
  background-image: url("../assets/images/Mohan-muruge.jpg");
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .comments__comment-avatar--form {
    margin-top: 1.8rem;
  }
}
.comments__comment-form {
  width: 85%;
}
@media (min-width: 768px) {
  .comments__comment-form {
    width: 90%;
  }
}
.comments__form-input {
  padding: 0.75rem;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 1rem;
}
.comments__form-input::-moz-placeholder {
  color: #323232;
  font-family: Avenir Next;
  font-weight: 600;
}
.comments__form-input::placeholder {
  color: #323232;
  font-family: Avenir Next;
  font-weight: 600;
}
.comments__form-input:focus {
  border-color: 1px solid #323232;
}
.comments__form-input--error {
  border-color: #d22d2d;
}
.comments__form-input--textarea {
  height: 4.5rem;
  resize: none;
}
.comments__input-field {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.comments__form-label {
  font-weight: 600;
  margin-bottom: 4px;
  color: #afafaf;
}
.comments__form-submit {
  padding: 0.5rem 0;
  float: right;
}
.comments__comments-list {
  display: flex;
  flex-direction: column;
}
.comments__comment-item {
  display: flex;
  justify-content: space-between;
}
.comments__comment-section {
  display: flex;
  flex-direction: column;
  width: 85%;
}
@media (min-width: 768px) {
  .comments__comment-section {
    width: 90%;
  }
}
.comments__comment-header {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}
.comments__comment-header-timestamp {
  color: #afafaf;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer div {
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 3rem;
  }
}
.footer p,
.footer h3 {
  font-size: 0.8125rem;
  line-height: 1.125em;
}
@media (min-width: 768px) {
  .footer p,
  .footer h3 {
    font-size: 0.6rem;
    line-height: 1rem;
  }
}
.footer__header {
  order: -3;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 0 0;
}
@media (min-width: 768px) {
  .footer__header {
    padding: 2rem 0 0;
  }
}
.footer__social {
  display: flex;
  padding: 1rem 0 1rem;
  order: -2;
}
@media (min-width: 768px) {
  .footer__social {
    padding: 1rem 0 0;
  }
}
.footer__social img {
  height: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 768px) {
  .footer__social img {
    padding-right: 1rem;
    height: 1rem;
  }
}
.footer__contact {
  padding: 1rem 0 0;
}
.footer__contact h3 {
  font-weight: 600;
}
.footer__contact a {
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__contact--right {
    width: 40%;
  }
}
.footer__logo {
  order: 1;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .footer__logo {
    order: 0;
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-end;
  }
}
.footer__copyright {
  order: 2;
}
@media (min-width: 768px) {
  .footer__copyright {
    order: 0;
  }
}/*# sourceMappingURL=bio.css.map */