@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTPro.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 900;
  font-style: normal;
}
html,
body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  font-family: Avenir Next;
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
  font-family: Avenir Next;
}

button {
  background-color: #323232;
  color: #ffffff;
  height: 40px;
  min-width: 150px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: #000000;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0 1rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 3rem;
  }
}
.header__logo {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.75rem 0 0;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header__logo {
    padding: 0;
  }
}

.navbar {
  width: 100%;
}
.navbar__list {
  display: flex;
  list-style: none;
}
@media (min-width: 768px) {
  .navbar__list {
    padding-left: 2rem;
  }
}
.navbar__item {
  width: 50%;
}
@media (min-width: 768px) {
  .navbar__item {
    width: auto;
    padding: 0 1rem;
  }
}
.navbar__link {
  color: #e1e1e1;
  padding: 0.5rem 0;
  text-decoration: none;
  display: inline-flex;
  border-bottom: 4px solid #323232;
  width: 100%;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .navbar__link {
    width: auto;
    justify-content: normal;
  }
}
.navbar__link--active {
  font-weight: bold;
}
.navbar__link--active, .navbar__link:hover {
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
}

section {
  padding: 1rem;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(50, 50, 50, 0.5);
  height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero {
    height: 55vw;
  }
}

.about img {
  width: 100%;
}
.about .about__quote {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5em;
}
.about .about__description h3 {
  font-size: 28px;
  width: 100%;
}
.about .about__description p {
  font-size: 26px;
  line-height: 1.25em;
}

.photo {
  background-color: #e1e1e1;
}
.photo img {
  width: 100%;
  padding: 0 0 4vw;
}

.divider {
  border-top: 1px solid #e1e1e1;
  margin: 1rem 0;
}

.comments {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.comments__wrapper {
  margin: auto;
}
@media (min-width: 768px) {
  .comments__wrapper {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .comments__wrapper {
    width: 50%;
  }
}
.comments__comment-form-wrapper {
  display: flex;
  justify-content: space-between;
}
.comments__comment-avatar {
  width: 2.5rem;
  height: 2.5rem;
  max-height: 36px;
  max-width: 36px;
  background-size: cover;
  background-position: top center;
  background-color: #e1e1e1;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .comments__comment-avatar {
    max-height: 48px;
    max-width: 48px;
  }
}
.comments__comment-avatar--form {
  background-image: url("../assets/images/Mohan-muruge.jpg");
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .comments__comment-avatar--form {
    margin-top: 1.8rem;
  }
}
.comments__comment-form {
  width: 90%;
}
.comments__comment-form .comments__form-input {
  padding: 12px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 1rem;
}
.comments__comment-form .comments__form-input::-moz-placeholder {
  color: #323232;
  font-family: Avenir Next;
  font-weight: 600;
}
.comments__comment-form .comments__form-input::placeholder {
  color: #323232;
  font-family: Avenir Next;
  font-weight: 600;
}
.comments__comment-form .comments__form-input:focus {
  border-color: 1px solid #323232;
}
.comments__comment-form .comments__form-input--error {
  border-color: #d22d2d;
}
.comments__comment-form .comments__form-input--textarea {
  height: 4.5rem;
  resize: none;
}
@media (min-width: 768px) {
  .comments__comment-form .comments__form-input {
    padding: 16px;
  }
}
.comments__input-field {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.comments__form-label {
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #afafaf;
}
.comments__form-submit {
  padding: 0.5rem 0;
  float: right;
}
.comments__comments-list {
  display: flex;
  flex-direction: column;
}
.comments__comment-item {
  display: flex;
  justify-content: space-between;
}
.comments__comment-section {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.comments__comment-header {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}
.comments__comment-header-timestamp {
  color: #afafaf;
}

.footer {
  background-color: #323232;
  padding: 16px 32px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.footer p,
.footer h3 {
  font-size: 25px;
  line-height: 1.4em;
}
.footer .footer__header {
  order: -3;
}
.footer .footer__social {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  padding: 24px 0;
  order: -2;
}
.footer .footer__social img {
  height: 44px;
}
.footer .footer__contact {
  padding: 16px 0;
}
.footer .footer__contact h3 {
  font-weight: bold;
  padding: 16px 0;
}
.footer .footer__contact a {
  text-decoration: none;
  color: #ffffff;
}
.footer .footer__logo {
  font-size: 50px;
  order: 1;
}
.footer .footer__copyright {
  order: 2;
}

@media screen and (min-width: 768px) {
  section {
    padding: 0 1rem;
  }
  .about__content {
    padding: 0 6vw;
  }
  .about__content .about__musician {
    font-size: 20px;
  }
  .about__content .about__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about__content .about__description p {
    width: 49%;
    font-size: 18px;
    line-height: 1.5em;
  }
  .photo__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photo__gallery img {
    width: 30%;
  }
  .footer {
    padding: 0 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer p,
  .footer h3 {
    font-size: 1.4vw;
    line-height: 1.4em;
  }
  .footer .footer__header {
    font-size: 3vw;
  }
  .footer .footer__social {
    width: 30%;
    justify-content: flex-start;
  }
  .footer .footer__social img {
    padding-right: 30px;
    height: 28px;
  }
  .footer .footer__logo,
  .footer .footer__copyright {
    order: 0;
  }
  .footer .footer__logo {
    display: flex;
    justify-content: flex-end;
  }
  .footer .footer__copyright {
    width: 100%;
  }
  .footer .footer__header {
    font-size: 4vw;
  }
  .footer h3 {
    font-size: 1.8vw;
  }
  .footer div {
    width: 30%;
  }
  .footer .footer__logo {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1280px) {
  section {
    padding: 0 3rem;
  }
  .about__content {
    padding: 0 6vw;
  }
  .about__content .about__musician {
    font-size: 20px;
  }
  .about__content .about__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about__content .about__description p {
    width: 49%;
    font-size: 18px;
    line-height: 1.5em;
  }
  .photo__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photo__gallery img {
    width: 30%;
  }
  .footer {
    padding: 0 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer p,
  .footer h3 {
    font-size: 1.4vw;
    line-height: 1.4em;
  }
  .footer .footer__header {
    font-size: 3vw;
  }
  .footer .footer__social {
    width: 30%;
    justify-content: flex-start;
  }
  .footer .footer__social img {
    padding-right: 30px;
    height: 28px;
  }
  .footer .footer__logo,
  .footer .footer__copyright {
    order: 0;
  }
  .footer .footer__logo {
    display: flex;
    justify-content: flex-end;
  }
  .footer .footer__copyright {
    width: 100%;
  }
  .footer div,
  .footer .footer__social {
    width: 25%;
  }
  .footer .footer__header {
    font-size: 3vw;
  }
  .footer .footer__logo,
  .footer .footer__contact--right {
    width: 40%;
  }
  .footer .footer__contact h3 {
    font-size: 1.4vw;
  }
  .footer .footer__logo {
    display: flex;
    justify-content: flex-end;
    font-size: 2vw;
  }
  .about__quote {
    width: 78%;
  }
}/*# sourceMappingURL=bio.css.map */