@use "./partials/fonts" as *;
@use "./partials/colors" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero {
  background-image: url("../assets/images/hero-shows.jpg");

  &__sound-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet {
      iframe {
        max-width: 60%;
      }
    }
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      iframe {
        max-width: 30%;
      }
    }
  }
  &__content {
    width: 70%;
    @include tablet {
      font-size: 2.5rem;
    }
    @include desktop {
      width: 50%;
      font-size: 3rem;
      font-weight: 600;
    }
  }

  h3 {
    font-size: 1rem;
    font-weight: normal;
    @include tablet {
      font-size: 1.5rem;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  @include desktop {
    width: 75%;
  }
}

tbody tr {
  border-bottom: 1pt solid $mercury;
}

td,
th {
  padding: 24px 18px;
}

th {
  text-align: justify;
  color: $silver;
  font-weight: normal;
}

.hero {
  padding: 1rem;
  @include desktop {
    padding: 1rem 3rem;
  }
}

section {
  padding: 1rem 0;
  @include tablet {
    padding: 1rem;
  }
  @include desktop {
    padding: 1rem 3rem;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__table {
    font-size: 0.75rem;
  }

  &__table--hide {
    display: none;
  }

  &__table-data-row {
    cursor: pointer;
    &:hover {
      background-color: $alabaster;
    }
  }

  &__table-data-row--active {
    background-color: $mercury;
    &:hover {
      background-color: $mercury;
    }
  }

  @include desktop {
    flex-direction: row;
    font-size: 0.75rem;
  }
  h2 {
    font-size: 2rem;
    padding: 1rem;
  }
  table {
    padding: 1rem;
  }

  &__table-data-date {
    font-weight: bold;
    @include desktop {
      width: 35%;
    }
  }

  &__table-data-button {
    text-align: right;
  }

  &__item {
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $alabaster;
    }
  }

  &__item--active {
    background-color: $mercury;
    &:hover {
      background-color: $mercury;
    }
  }

  &__item-field {
    padding: 0.5rem 0;
  }

  &__item-label {
    color: $silver;
  }

  &__item-value {
    font-weight: 600;
  }

  &__item-label,
  &__item-value {
    padding: 4px 0;
  }

  &__item-date {
    font-weight: bold;
  }

  &__item-button {
    width: 100%;
  }
}
